@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap');

/* Grid Seitenaufteilung*/
.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'header header' 
    'menu main';
}

/* Allgemeine Informationen*/
body {
    background: url()
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* CSS header */
header {
    grid-area: header; 
    background-color: lightcyan;
}

header>* {
    padding-top: 40px;
    text-align: center;
}

h1 {
    font-size: 32px;
    padding-top: 30px;
    font-family: 'ZCOOL XiaoWei', serif;
    color: darkslategrey;
}

/* CSS menu */
menu {
    grid-area: menu; 
}

.liste {
    height: 10em;
    width: 15em; 
    color: pink; 
    border-style: solid; 
    border-color: grey; 
    border-width: 5px; 
    margin: 10px; 
}

#supermarkt, #apotheke {
    margin-left: 2.5em; 
    margin-top: 2.5em; 
}
#drogerie, #baumarkt {
   margin-left: 21em; 
   margin-top: -11.2em; 
}

#supermarkt {
    background-image: url(bilder/supermarkt.jpg);
    background-size: 160%; 
}

#drogerie {
    background-image: url(bilder/drogerie.jpg);
    background-size: 160%; 
    -webkit-filter: blur(0.4px);
    filter: blur(0.4px);
}

#apotheke {
    background-image: url(bilder/apotheke.jpg);
    background-size: 120%; 
    -webkit-filter: blur(0.4px);
    filter: blur(0.4px);
}

#baumarkt {
    background-image: url(bilder/baumarkt.jpg);
    background-size: 130%; 
    -webkit-filter: blur(0.4px);
    filter: blur(0.4px);
}


.liste a {
    text-align: center;
    vertical-align: middle;
}

/* CSS main */
main {
    grid-area: main; 
}

#einkaufsliste {
    width: 30em; 
    height: 60em; 
    border-style: solid; 
    border-width: 1em; 
    border-color: grey; 
    background-color: lightgray;
    margin-top: 2.5em; 
    margin-left: 5em; 
}
 ul{
     list-style-type: none;
 }

 /* Celines Zeug zum ausprobieren */
 .inputGroup {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;

    label {
      padding: 12px 30px;
      width: 100%;
      display: block;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;

      &:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: #5562eb;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      &:after {
        width: 32px;
        height: 32px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input:checked ~ label {
      color: #fff;

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: #54E0C7;
        border-color: #54E0C7;
      }
    }

    input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
  }


// codepen formatting
.form {
  padding: 0 16px;
  max-width: 550px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

body {
  background-color: #D1D7DC;
  font-family: 'Fira Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

code {
  background-color: #9AA3AC;
  padding: 0 8px;
}
div {
    max-width: 600px;
    margin: 24px auto;
}